body {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 120%; } }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  font-size: 1rem;
  position: relative;
  height: 100vh; }
  body .main {
    width: 100%;
    max-width: 90rem;
    min-height: 100vh; }

/*******************************************
*** TOP PART
*******************************************/
.top {
  height: 40vh;
  position: relative;
  top: 2rem; }
  .top .budget {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .top .budget .budget__date,
    .top .budget .budget__value,
    .top .budget .budget__name {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 3.2rem;
      text-align: center;
      font-weight: 600; }
    .top .budget .budget__value,
    .top .budget .budget__name {
      text-shadow: 5px 2px 3px #000; }
    .top .budget .budget__value {
      font-size: 5rem;
      text-align: center;
      font-weight: 600;
      padding: 10px 0; }

.budget__income__expenses {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 900;
  padding: 15px;
  text-transform: uppercase; }
  .budget__income__expenses .budget__income,
  .budget__income__expenses .budget__expenses {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 12px; }
  .budget__income__expenses .budget__income--text,
  .budget__income__expenses .budget__income--value {
    color: #4dcc33; }
  .budget__income__expenses .budget__expenses--text,
  .budget__income__expenses .budget__expenses--value,
  .budget__income__expenses .budget__expenses--percentage {
    color: #cf1717; }
  .budget__income__expenses .budget__expenses--percentage {
    font-size: 2.4rem; }
  .budget__income__expenses .budget__quote {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    align-self: center; }
    .budget__income__expenses .budget__quote .quote {
      text-align: center;
      font-size: 1.4rem;
      text-transform: none;
      font-style: oblique;
      padding: 10px 0;
      margin-bottom: 4rem;
      letter-spacing: 0.1em; }

/*******************************************
*** BOTTOM
*******************************************/
.bottom {
  height: 60vh; }
  .bottom .add {
    margin-top: 2rem;
    display: flex;
    justify-content: center; }

.add__container {
  display: flex;
  align-items: center; }
  .add__container .add__description,
  .add__container .add__value {
    margin-right: 1.5rem;
    border: none;
    border-bottom: 2px solid #4dcc33;
    background-color: inherit;
    color: inherit;
    font-size: 1.8rem;
    padding: 5px; }
  .add__container .add__description {
    width: 40rem; }
  .add__container .add__value {
    width: 10rem; }
  .add__container .add__description:focus,
  .add__container .add__value:focus {
    outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

::placeholder {
  color: inherit; }

/*******************************************
*** LIST ITEMS
*******************************************/
.container {
  margin: 4rem auto; }
  .container .item {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #6670ff; }
    .container .item .item__description {
      flex: 1; }
    .container .item .item__percentage {
      text-align: right;
      font-size: 1.6rem; }

.item:hover div[class^="item__value--"] {
  transform: translateX(-1rem); }

.item__value--income {
  color: #4dcc33;
  transition: transform 0s; }

.item__value--expense {
  color: #cf1717;
  transition: transform 0s; }

.red {
  color: #cf1717 !important; }

.red-focus:focus {
  border-bottom: 2px solid #cf1717 !important; }

.add__btn {
  font-size: 3.8rem;
  border: none;
  background: none;
  color: #4dcc33;
  cursor: pointer;
  margin-left: 1rem; }

.add__btn:focus {
  outline: none; }

.add__btn:active {
  transform: translateY(0.2rem); }

.item__delete--btn {
  font-size: 1.8rem;
  color: #cf1717;
  border: none;
  background: none;
  margin-left: 1.5rem;
  cursor: pointer;
  display: none; }

.item:hover .item__delete--btn {
  display: block; }

.item__delete--btn:active {
  transform: translateY(0.2rem); }

.item__delete--btn:focus {
  outline: none; }

.slider {
  display: flex;
  justify-content: center; }
  .slider .switch {
    position: relative;
    width: 6rem;
    height: 3rem; }
    .slider .switch input {
      opacity: 0;
      width: 0;
      height: 0; }

input:checked + .slider__round {
  background-color: #cf1717; }

input:checked + .slider__round:before {
  transform: translateX(2.6rem); }

.slider__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4dcc33;
  border-radius: 34px;
  transition: .3s; }

.slider__round:before {
  position: absolute;
  content: "";
  top: 2px;
  left: 4px;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: #fff;
  transition: .3s; }
