/*******************************************
*** GENERAL
*******************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: hsl(45, 85%, 46%);
    font-family: open-sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 500;
}

.right { float: right; }
.red { color: hsl(2, 100%, 64%) !important; }
.red-focus:focus { border: 1px solid hsl(2, 100%, 64%) !important; }

/*******************************************
*** TOP PART
*******************************************/


