/*******************************************
*** GENERAL
*******************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #c79006;
    font-family: Lato;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 500;
}

.red { color: hsl(2, 100%, 64%) !important; }
.red-focus:focus { border: 1px solid hsl(2, 100%, 64%) !important; }

/*******************************************
*** TOP PART
*******************************************/

.top {
    margin-top: 50px;
    height: 40vh;
    position: relative;
}

.budget {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.budget__date,
.budget__value,
.budget__name {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.budget__value,
.budget__name {
    text-shadow: 5px 2px 3px #000;
}

.budget__value {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    padding: 10px 0;
}

.budget__income__expenses {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 900;
    padding: 15px;
    text-transform: uppercase;
}

.budget__income,
.budget__expenses {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 12px;
}

.budget__income--text,
.budget__income--value {
    color: #03a309;
}

.budget__expenses--text,
.budget__expenses--value,
.budget__expenses--percentage {
    color: #e00000;
}

.budget__quote {
    font-size: 14px;
    text-transform: none;
    text-align: center;
    font-style: oblique;
    flex: 0 0 50%;
    padding: 10px 0;
    letter-spacing: 0.1em;
}

/*******************************************
*** SLIDER
*******************************************/

.slider {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider__round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #03a309;
    border-radius: 34px;
    transition: .4s;
}

.slider__round:before {
    position: absolute;
    content: "";
    top: 2px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transition: .4s;
}

input:checked + .slider__round {
    background-color: #e00000;
}

input:checked + .slider__round:before {
    transform: translateX(26px);
}

/*******************************************
*** BOTTOM
*******************************************/

.add {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.add__container {
    display: flex;
    align-items: center;
}

.add__description,
.add__value {
    margin-right: 15px;
    border: none;
    border-bottom: 2px solid #03a309;
    background-color: inherit;
    color: inherit;
    font-size: 18px;
    padding: 5px;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 38px;
    border: none;
    background: none;
    color: #03a309;
    cursor: pointer;
    margin-left: 10px;
}

.add__description:focus,
.add__value:focus,
.add__btn:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add__btn:active {
    transform:translateY(2px);
}

::placeholder {
    color: inherit;
}

.


































