/*******************************************
*** GENERAL
*******************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: hsl(0, 0%, 33%);
    background-color: hsl(45, 85%, 46%);
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 500;
}

.right { float: right; }
.red { color: hsl(2, 100%, 64%) !important; }
.red-focus:focus { border: 1px solid hsl(2, 100%, 64%) !important; }

/*******************************************
*** TOP PART
*******************************************/

.top {
    height: 40vh;
    position: relative;
}

.budget {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.budget__income__expenses__quote {
    color: #fff;
}

.budget__title {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.budget__value {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.budget__income__expenses {
    float: left;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
}

.budget__income,
.budget__expenses {
    padding: 12px;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
}

.budget__income--value,
.budget__expenses--value {
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    margin-left: 10px;
    
}















