body {
    display: flex;
    justify-content: center;
    color: $color-font-main;
    background-color: $color-background;
    font-size: 1rem;
    min-height: 100vh;

    .main {
        width: 100%;
        max-width: 90rem;
        padding: 4rem;
    }
}

