/*******************************************
*** TOP PART
*******************************************/
.top {
    display: flex;
    flex-direction: column;

    .budget {
        width: 100%;

        .budget__date,
        .budget__value,
        .budget__name {
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 2.0rem;
            text-align: center;
            font-weight: 600;
        }

        .budget__value,
        .budget__name { text-shadow: 5px 2px 3px #000; }

        .budget__value {
            font-size: 6rem;
            text-align: center;
            font-weight: 600;
            padding: 10px 0;
        }
    }
}

.budget__income__expenses {
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
    font-weight: 900;
    padding: 15px;
    text-transform: uppercase;

    .budget__income,
    .budget__expenses {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        padding: 12px;
    }

    .budget__income--text,
    .budget__income--value { color: $color-income; }

    .budget__expenses--text,
    .budget__expenses--value,
    .budget__expenses--percentage { color: $color-expense; }

    .budget__expenses--percentage { font-size: 1.6rem; }

    .budget__quote {
        display: flex;
        justify-content: center;
        flex: 0 0 50%;
        align-self: center;

        .quote {
            text-align: center;
            font-size: 1.4rem;
            text-transform: none;
            font-style: oblique;
            padding: 10px 0;
            margin-bottom: 4rem;
            letter-spacing: 0.1em;
        }

        .author {
            text-align: right;
            font-size: 1rem;
            margin-top: 0.5rem;
        }
    }
}